@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
$primary-font: "Inconsolata";

$periodic-light-blue: lightblue;
$periodic-pink: pink;
$periodic-light-green: lightgreen;
$periodic-blue: blue;
$periodic-lime: lime;
$periodic-baby-blue: cornflowerblue;
$periodic-green: green;
$periodic-grey: gray;
$periodic-red: red;
$periodic-orange: orange;
$periodic-yellow: yellow;
$periodic-black: black;
